<div class="publications">
  {% bibliography -f {{ site.scholar.bibliography_journal_papers }} --group_by none --query @*[selected=true]* %}
  {% bibliography -f {{ site.scholar.bibliography_nat_conf_papers }} --group_by none --query @*[selected=true]* %}
  {% bibliography -f {{ site.scholar.bibliography_datasets }} --group_by none --query @*[selected=true]* %}
</div>
